
body{background-color:yellow;}

h1{
font-size:120px;
font-family:arial;
color:pink;
text-align:center;
background-color:green;
}
h2{
font-size:90px;
font-family:"times new roman";
text-align:center;
}
h3{
	font-size:45px;
font-family:"times new roman";
text-align:center;
h4{
	font-size:45px;
font-family:"times new roman";
text-align:center;
	




'
